body {
    background-image: url('signup_bg.jpeg');

}
#area {
    position: relative;
    text-align: center;
    top: 180px;
    font-size: 200%;
}

h1 {
    position: relative;
    left: 70px;
}

#name {
    position: relative;
    left: 20px;
}

#psd {
    position: relative;
    left: 36px;
    top:5px;
}

#repeat {
    position: relative;
    left: 12px;
    top: 10px;
}

.inputLine {
    background-color: rgba(255, 243, 87, 0.14);
    border: 5px solid;
    font-size: 180%;
}

.button {
    background-color: rgba(255, 203, 115, 0.41);
    border: hidden;
}

#submitButton {
    position: relative;
    top: 20px;
    left: 75px;
    width: 410px;
    height: 60px;
}

.text {
    position: relative;
    left: 70px;
    color: black;
}